@model Fiap.Exemplo02.MVC.Web.ViewModels.AlunoViewModel
@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastro de Aluno</h2>

@Helper.Message(Model.Mensagem, "alert alert-success")

@Html.ValidationSummary() <!--Todas as mensagens -->

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(a => a.Nome)
        @Html.TextBoxFor(a => a.Nome, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.Nome)
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.DataNascimento)
        @Html.TextBoxFor(a => a.DataNascimento, "{0:dd/MM/yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.DataNascimento)
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.GrupoId)
        @Html.DropDownListFor(a => a.GrupoId , 
                Model.ListaGrupo, "Selecione" , 
                new { @class = "form-control" } )
        @Html.ValidationMessageFor(a => a.GrupoId)
    </div>
    <div class="form-group">
        @Html.CheckBoxFor(a => a.Bolsa)
        @Html.LabelFor(a => a.Bolsa)
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.Desconto)
        @Html.TextBoxFor(a => a.Desconto, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.Desconto)
    </div>
    <div class="form-group">
        @Helper.Submit("Salvar","btn btn-primary")
    </div>
}

@section scripts{
    <script>
        $().ready(function () {
            //Valida se o checkbox está marcado, se estiver, exibe o desconto, caso contrário, esconde
            if ($("#Bolsa").attr("checked") == "checked") {
                $("#Desconto").parent().css("display", "block");
            } else {
                $("#Desconto").parent().css("display", "none");
            }
            //Quando clicar no checkbox bolsa
            $("#Bolsa").click(function () {
                //Esconde ou exibe a div que possui o campo desconto
                $("#Desconto").parent().slideToggle();
                $("Desconto").focus();
            });
        });
    </script>
}