@model Fiap.Exemplo02.MVC.Web.ViewModels.AlunoViewModel

@{ 
    ViewBag.Title = "Editar";
}

<h2>Atualizar Aluno</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(a => a.Id)
    <div class="form-group">
        @Html.LabelFor(a => a.Nome)
        @Html.TextBoxFor(a => a.Nome, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.DataNascimento)
        @Html.TextBoxFor(a => a.DataNascimento, new { @class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.Desconto)
        @Html.TextBoxFor(a => a.Desconto, new { @class = "form-control"})
    </div>
    <div class="form-group">
        @Html.CheckBoxFor(a => a.Bolsa)
        @Html.LabelFor(a => a.Bolsa)
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.GrupoId)
        @Html.DropDownListFor(a => a.GrupoId , Model.ListaGrupo, new { @class = "form-control"})
    </div>
    <div>
        @Helper.Submit("Atualizar","btn btn-primary")
    </div>
}

